body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: #000; 
    color: #00FF00; 
}

#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative; 
}

.login-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.3);
    width: 320px;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    color: #00FF00; 
}

.login-container h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #00FF00;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #00FF00;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 255, 0, 0.1); 
}

button {
    background-color: #00FF00;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

button:hover {
    background-color: #00B300;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: #00FF00;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    color: #00FF00;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}
